<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=""width="device-width, initial-scale=1.0">
    <title>Restaurante Tapas_Casera </title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
<div class="table-container">
    <div id="table1" class="table">Mesa 1</div>
    <div id="table2" class="table">Mesa 2</div>
    <div id="table3" class="table">Mesa 3</div>
    <div id="table4" class="table">Mesa 4</div>
    <div id="table5" class="table">Mesa 5</div>
    <div id="table6" class="table">Mesa 6</div>
    <div id="table7" class="table">Mesa 7</div>
    <div id="table8" class="table">Mesa 8</div>
    <div id="table9" class="table">Mesa 9</div>
    <div id="table10" class="table">Mesa 10</div>

</div>
</body>
</html>
