<!-- templates/fragments/header.html-->
<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="logo">
                <img alt="Logo" src="/static/img/logos/ESCUDO-DEL-BARÇA.png" th:src="@{/img/ESCUDO-DEL-BARÇA.png}">
            </div>
            <div class="titulo text-center">
                <h1 class="mb-0">Gestor de Restaurante</h1>
            </div>
            <div class="botones">
                <a class="btn btn-outline-primary me-2" th:href="@{/productos/producto-list}">Productos</a>
                <a class="btn btn-outline-secondary" th:href="@{/categorias/categoria-list}">Categorias</a>
                <a class="btn btn-outline-success" th:href="@{/clientes/cliente-list}">Clientes</a>
            </div>
        </div>
    </nav>
</header>
