<!-- templates/fragments/header.html -->
<header th:fragment="header(tituloPagina)" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="logo">
                <a th:href="@{/}">
                    <img alt="Logo del Restaurante" style="height: 100px; border-radius: 50%; object-fit: cover;" th:src="@{/img/logos/logotipo_restaurante.png}">
                </a>

            </div>
            <div class="titulo text-center">
                <h1 class="mb-0" th:text="${tituloPagina}">Gestor de Restaurante</h1>
            </div>
            <div class="botones">
                <a class="btn mb-1 me-2" th:classappend="${#httpServletRequest?.requestURI?.contains('/reservas')} ? 'btn-warning' : 'btn-outline-warning' " th:href="@{/reservas}">Reservas</a>
                <div class="dropdown d-inLine-block">
                    <button aria-expanded="false" class="btn dropdown-toggle mb-1 me-2" data-bs-toggle="dropdown" id="dropdownMenuButton" th:classappend="${#httpServletRequest?.requestURI?.contains('/menus')} ? 'btn-info' : 'btn-outline-info'">
                        Menús
                    </button>
                    <ul aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/menus/carne}">Carne</a></li>
                        <li><a class="dropdown-item" th:href="@{/menus/pescado}">Pescado</a></li>
                        <li><a class="dropdown-item" th:href="@{/menus/vegetariano}">Vegetariano</a> </li>
                    </ul>
                </div>
                <a class="btn mb-1 me-2" th:classappend="${#httpServletRequest?.requestURI?.contains('/contacto')} ? 'btn-success' : 'btn-outline-success'" th:href="@{/contacto}">Contacto</a>
            </div>
        </div>
    </nav>
   <!-- <div th:replace="~{fragments/menu_circular :: menu_circular}"></div> -->
</header>
