<!-- templates/fragments/menu-circular.html -->
<div th:fragment="menu-circular" xmlns:th="http://www.thymeleaf.org">
    <!-- Contenido del Menu Circular -->
    <div class="container text-center my-5">
        <!-- Plato de fondo -->
        <div class="plato">
            <!-- BOTONES CIRCULARES -->
            <a class="menu-item" style="--i: 0;" th:href="@{/menu/primeros}">Primeros
                <img alt="Primeros" th:src="@{/img/platos/primeros.jpg}">
            </a>
            <a class="menu-item" style="--i: 1;" th:href="@{/menu/segundos}">Segundos
                <img alt="Segundos" th:src="@{/img/platos/segundos.jpg}">
            </a>
            <a class="menu-item" style="--i: 2;" th:href="@{/menu/postres}">Postres
                <img alt="Postres" th:src="@{/img/platos/postres.jpg}">
            </a>
            <a class="menu-item" style="--i: 3;" th:href="@{/menu/bebidas}">Bebidas
                <img alt="bebidas" th:src="@{/img/platos/bebidas.jpg}">
            </a>

            <!-- CENTRO DEL PLATO -->
            <div class="centro">
                <strong>Menú</strong>
            </div>
        </div>
    </div>
</div>
